:root {
    --font-family-heading: #{inspect($typo-headings-font-family)};
    --color-primary:  #{inspect($primary)};
    --color-body: #{inspect($body-color)};
}

html {
    font-family: $font-family-base;
    line-height: 1.875;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    overflow-x: hidden;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

article, aside, footer, header, nav, section {
    display: block;
}


figcaption, figure, main {
    display: block;
}

figure {
    margin: 1em 0;
}

hr {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: $font-family-mono;
    font-size: 1em;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    &:active, &:hover, &:focus {
        outline-width: 0;
    }
    &:hover {
        text-decoration: none;
    }
}

abbr[title] {
    border-bottom: 1px dotted;
    text-decoration: none;
    border-bottom-color: $silver2;
}

b, strong {
    font-weight: $font-weight-bold;
    color: $headings-color;
}

code, kbd, samp {
    font-family: $font-family-mono;
    font-size: 1em;
}

dfn {
    @extend .font-italic;
}

mark {
    color: $black1;
    background-color: $silver2;
}

small {
    font-size: 80%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

audio, video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

img {
    border-style: none;
    height:auto;
}

svg:not(:root) {
    overflow: hidden;
}

input, optgroup, select, textarea {
    font-family: $input-font-family;
    font-size: $input-btn-font-size;
    padding: $input-padding-y $input-padding-x;
    line-height: $input-btn-line-height;
    border: $input-border-width solid $input-border-color;
}
button[type="submit"] {
    font-family: $btn-font-family;
    font-weight: $btn-font-weight;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: $btn-border-width solid transparent;
    @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
    @include transition($btn-transition);
    letter-spacing: $input-btn-letter-spacing;
    transition: all 0.4s;
    &:hover{
        transition: all 0.4s;
    }

    span,
    i{
        margin-left: 13px;
    }

}

button, input {
    overflow: visible;
    &:focus {
        outline: none;
    }

    &:not(:disabled):not(.disabled).active:focus,
    &:not(:disabled):not(.disabled):active:focus {
        box-shadow: none!important;
    }
}
.btn-primary {
    color: $white;
    &:hover {
        color: $white;
    }
}
select {
    text-transform: none;
}

button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}
fieldset {
    border: 1px solid;
    border-color: $gray2;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    display: inline-block;
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"], [type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

[type="number"] {
    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
        height: auto;
    }
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
    &::-webkit-search-cancel-button, &::-webkit-search-decoration {
        -webkit-appearance: none;
    }
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details, menu {
    display: block;
}

summary {
    display: list-item;
}

canvas {
    display: inline-block;
}

template, [hidden] {
    display: none;
}

.block-fullwidth{
    position: relative;
    width: 100vw;
    left: 50%;
    margin-left: -50vw;
}


blockquote {
    quotes: "" "";
    overflow: hidden;
    margin: 0 0 1.5em;
    border-left: 3px solid;
    border-color: $primary;
    padding: 1.5em 1em 1.5em 1.5em;
    position: relative;
    background: #efefef;
    font-style: italic;
    line-height: 2;
    font-weight: 500;
    p {
        margin-bottom: 0;
    }
}
.blockquote-footer {
    font-weight: normal;
    font-style: normal;
}


.form-group {
    label:not(.form-check-label){
        font-size: 12px;
        color: $black;
        font-weight: 500;
        span{
            color: $primary;
        }
    }
}
.pagination {
    margin-top: 40px;
    .page-link{
        background-color: transparent;
        width: 60px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-family: $font-family-heading;
        color: #000;
        font-size: 14px;
        font-weight: 600;
        transition: all 0.4s;
        cursor: pointer;
        padding: 0;
        border: none;
        font-size: 11px;
        &:hover {
            color: $primary;
            transition: all 0.4s;
        }

    }
    .page-item{
        margin: 0 5px;
        &.active{
            .page-link{
                background-color: $primary;
                color: $white;
                transition: all 0.4s;
            }
        }
    }
}

.block-cover {
    position: relative;
    background-color: #000;
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-size: cover;
}
.block-cover-text {
    color: #fff;
    font-size: 2em;
    line-height: 1.25;
    z-index: 1;
    margin-bottom: 0;
    max-width: 80%;
    padding: 14px;
    text-align: center;
    h2 {
        font-size: 60px;
        font-weight: 600;
        text-transform: uppercase;
        font-style: italic;
        line-height: 1;
        font-family: "Bai Jamjuree", Sans-serif;
    }
    h4 {
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 2.7px;
    }
}
.error-section{
    padding-top: 220px;
    padding-bottom: 270px;
    position: relative;
    .error-bkg {
        position: absolute;
        width: 100%;
        z-index: -1;
        top: 50%;
        transform: translateY(-50%);
    }
    .error-404-title {
        display: flex;
        align-items: center;
        justify-content: center;
        h1 {
            display: inline-block;
            font-size: 200px;
            color: $primary;
        }
        .error-404-subtitle {
            margin-left: 25px;
        }
        .sub-h2-1 {
            color: $primary;
            font-size: 40px;
        }
        .sub-h2-2 {
            font-size: 24px;
            line-height: 1.8;
        }
    }
    .error-text {
        font-style: normal;
        font-stretch: normal;
        line-height: 3;
        font-size: 12px;
        letter-spacing: 0.17rem;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 40px;
        text-align: center;
        color: $headings-color;
    }
    .back-home {
        text-align: center;
    }
    @media (max-width: 767px) {
        .error-404-title {
            display: block;
            h1 {
                display: inherit;
                font-size: 140px;
                text-align: center;
            }
            .error-404-subtitle {
                //display: block;
                text-align: center;
                margin: 0 0 20px;
            }
        }
    }
}
.w-lg-75 {
    @media (min-width: 992px) {
        width: 75%;
    }
}
.pl-6{
     padding-left: 60px !important;
    @media (max-width: 992px) {
        padding-left: 15px !important;
    }
}
.pr-6{
    padding-right: 60px !important;
    @media (max-width: 992px) {
        padding-right: 15px !important;
    }
}
.categories-banner {
    background-color: #f8f8f8;
    padding: 60px 0 40px;
    [class*="col-"] {
        margin-bottom: 20px;
    }
    @media (max-width: 1200px){
        [class*="col-"] {
            margin-bottom: 30px;
        }
    }
    .container-fluid {
        max-width: 1830px;
    }
}


.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 700;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}
.pb-maxmd {
    @media (max-width: 991px) {
        padding-bottom: 50px;
    }
}
